<html>

<head>
    <title>
        상품 키워드 분석 서비스
    </title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" . />
</head>

<body>
    <header>
        <h1>상품 검색</h1>
    </header>
    <center>
        <form action="/search" ,method="POST">
            <input type="text" name="keyword"
                style="margin: 10px;;display:inline-block;width: 500px;height: 60px;margin-left: 100px;">
            <button type="submit" style="margin: 0;display:inline-block;">검색</button>
            <!-- <form method="POST" , action="{{url_for('home')}}"> -->
            <!-- <input type="text" , name="keyword" , placeholder="keyword"> -->
            <!-- <button type="submit">검색</button> -->
            <!-- <form action="/method" method="POST"> -->
            <!-- <input type="text" , name="keyword"> -->
            <!-- <input type="submit" , value="확인"> -->
        </form>
        <h3>분석하려는 상품을 한글로 검색해주세요.</h3>
        <h4>키워드 입력 후 결과를 나타내기까지 시간이 소요됩니다. (약 30초)</h4>
    </center>
</body>

</html>